services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      TZ: ${TZ}
    ports:
      - "${POSTGRES_PORT:-9527}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 20

  web:
    build: .
    # image: global-trade-analysis-web:v4
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "9000:9000"
    networks:
      wp-net:
        aliases:
          - gta
      default: {}

volumes:
  pgdata:
    external: true
    name: global-trade-analysis_pgdata

networks:
  wp-net:
    external: true
    name: wp-net
